---
import { domains } from "../data/site";

type Props = {
  active?: string;
  locale?: string;
};

const { active, locale = "en" } = Astro.props;
---

<nav class="nav">
  <a class="brand" href="/">This Indian Life</a>
  <div class="domains">
    {domains.map((domain) => (
      <a
        data-d={domain.id}
        class={active === domain.id ? "on" : ""}
        href={`/${domain.id}/`}
      >
        {domain.label}
      </a>
    ))}
    <a data-d="reference" href={`/articles/`}>Articles</a>
    <a data-d="reference" href={`/definitions/`}>Definitions</a>
    <a data-d="reference" href={`/about/`}>About</a>
  </div>
</nav>
<hr class="r" />
